<header
  class="w-full fixed top-0 z-10 h-20 px-4 py-4 flex items-center justify-between bg-slate-900 border-b-2 border-violet-600 shadow-2xl"
>
  <a
    class="text-3xl text-violet-600 font-bold cursor-pointer"
    routerLink="/">
    Bookstore
  </a>
  <div class="flex items-center cursor-pointer justify-between w-36 text-white font-medium py-2 px-2 border border-violet-600 rounded hover:bg-slate-800">
    <a
      class=""
      [title]="'My Wishlit'"
      [routerLink]="'/wishlist'">
      My Wishlist
    </a>
    <div class="px-2 bg-violet-500 text-white rounded-full">{{ booksNumber }}</div>
  </div>
</header>
