<div class="w-full h-72 flex bg-white rounded-xl">
  <img
    class="w-60 h-80 relative book-image rounded-xl"
    [src]="book.image"
    alt=""
  />
  <div class="flex-auto p-6">
    <div class="flex items-center justify-between">
      <h1 class="font-medium text-slate-900">
        {{ book.author }}
      </h1>
      <p class="text-sm font-medium text-slate-400">
        {{ book.genre }}
      </p>
    </div>
    <p class="w-full mt-2 text-2xl font-bold text-violet-600">
      {{ book.title }}
    </p>
    <p class="w-full mt-2 text-md text-slate-500">
      {{ book.description.length >= 99 ? book.description.slice(0, 98) + '...' : book.description }}
    </p>
    <button
      class="mt-4 h-10 px-6 font-semibold rounded-full bg-violet-600 text-white hover:bg-violet-800"
      type="submit"
    >
      Add
    </button>
    <div class="w-full flex mt-4 items-center justify-between">
      <p class="text-sm text-slate-400">
        ISBN: {{ book.isbn }}
      </p>
      <p class="text-sm text-slate-400">
        {{ book.published | date: 'mediumDate' }}
      </p>
    </div>
  </div>
</div>
